/* Google font styles import link starts here */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

/* Google font styles import link ends here */

/* Universal styles starts here to reset web browser's default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
    /* Font weight 800px */
}

/* Universal styles ends here */

/* Header section styles starts here */

header {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
}

/* Navbar styles starts here */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px 50px 0px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 50%;
}

.nav-logo img {
    object-fit: cover;
}

.nav-logo img:hover {
    cursor: pointer;
}

.nav-logo-title {
    color: #131318;
    font-size: 36px;
}

/* Span used for styling the last part of the logo name */
.nav-logo-title span {
    color: #FF5400;
    font-size: 36px;
}

.nav-logo-title:hover {
    cursor: pointer;
}

.nav-items {
    width: 50%;
}

.nav-items ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-items ul li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* Style for Home item */
.nav-items>ul>li :nth-child(1 of #item-1) {
    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.nav-items .navbar-bar {
    display: none;
}

/* Navbar styles ends here */

/* Header banner styles starts here */

.header-banner-container {
    border-radius: 16px;
    background-image: url('../Styles/Images/Group\ 13\ \(1\)\ \(1\).png'), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-blend-mode: multiply;
    padding: 100px 15px;
    object-fit: cover;
}

.header-banner-title {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    padding: 0px 0px 24px 0px;
}

.header-banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 0px 50px 0px;
}

.header-banner-form {
    display: flex;
    padding: 16px;
    align-items: center;
    max-width: max-content;
    margin: 0px auto;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

#where-go-box {
    border-radius: 8px;
    background: #FFF;
    padding: 16px 30px 16px 10px;
    outline: none;
    border: none;
    color: #424247;
    width: 150px;
}

.primary-btn {
    color: #FFF;
    background-color: #FF5400;
    outline: none;
    border: none;
    width: 150px;
    padding: 16px 30px 16px 10px;
    border-radius: 8px;
    cursor: pointer;
}

/* Header banner styles ends here */

/* Header section styles ends here */

/* Main section styles starts here */

main {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
}

/* Popular tour section styles starts here */

.popular-tour-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 100px 0px;
}

.popular-tour-title {
    color: #131318;
    font-size: 40px;
    margin-bottom: 24px;
}

.popular-tour-description,
.popular-tour-list-items {
    color: #131318b3;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 8px;
}

.popular-tour-list-box {
    margin-left: 30px;
}

.popular-tour-btn {
    font-size: 16px;
    text-align: center;
    padding: 16px 10px 16px 10px;
}

/* Popular tour section styles ends here */

/* Your destination section styles starts here */

.your-destination-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    margin: 0px 0px 24px 0px;
}

.your-destination-description {
    color: #131318b3;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin: 0px 0px 50px 0px;
}

.your-destination-image-container {
    position: relative;
}

.your-destination-images-row-1 img,
.your-destination-images-row-2 img,
.your-destination-images-row-3 img {
    width: 100%;
    height: 100%;
}

.your-destination-images-row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    height: 300px;
    margin: 0px 0px 24px 0px;
    position: relative;
}

.destination-image-card-1-title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 18%;
}

.destination-image-card-2-title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    position: absolute;
    top: 50%;
    right: 18%;
}

.your-destination-images-row-2 {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    column-gap: 20px;
    height: 300px;
    margin: 0px 0px 24px 0px;
    position: relative;
}

.destination-image-card-3-title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 7%;
}

.destination-image-card-4-title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 40%;
}

.destination-image-card-5-title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    position: absolute;
    top: 50%;
    right: 8%;
}

.your-destination-images-row-3 {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 20px;
    height: 300px;
    margin: 0px 0px 100px 0px;
    position: relative;
}

.destination-image-card-6-title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 11%;
}

.destination-image-card-7-title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    position: absolute;
    top: 50%;
    right: 26%;
}

/* Your destination section styles ends here */

/* Choose us section styles starts here */

.choose-us-section {
    margin-bottom: 100px;
}

.choose-us-section-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    margin: 0px 0px 24px 0px;
}

.choose-us-section-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin: 0px 0px 50px 0px;
}

.choose-us-cards {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;

}

.choose-us-card-logo {
    margin-bottom: 32px;
}

.choose-us-card-title {
    margin-bottom: 16px;
}

.choose-us-card-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.choose-us-cards-row-1 {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.choose-us-cards-row-2 {
    width: calc(50% - 24px / 2);
    margin: 0 auto;
}

/* Choose us section styles ends here */

/* Deals section styles starts here */

.deals-section-header-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    margin: 0px 0px 24px 0px;
}

.deals-section-header-description {
    color: #131318b3;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin: 0px 0px 50px 0px;
}

.deal-card-container-1,
.deal-card-container-3 {
    background-image: url("../Styles/Images/Group\ 39.png");
    border-radius: 16px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    background-position: center;
    padding: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.deal-card-container-2 {
    background-image: url("../Styles/Images/Group\ 40.png");
    border-radius: 16px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    background-position: center;
    padding: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.deal-card {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: #ffffffcc;
    backdrop-filter: blur(2.5px);
    width: 50%;
    padding: 30px 0px 30px 20px;
}

.deal-card ul {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
}

.deal-card-title {
    color: #131318;
    font-size: 24px;
    padding: 26px 0px 16px 0px;
}

.deal-card-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding: 0px 0px 16px 0px;
}

.deal-card-price {
    color: #FF5400;
    font-size: 20px;
    padding: 0px 0px 24px 0px;
}

.deal-card-btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    padding: 14px 24px;
    cursor: pointer;
}

.deal-button {
    text-align: center;
}

.deals-see-all-btn {
    color: #FFF;
    font-size: 20px;
    padding: 14px 22px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    cursor: pointer;
    margin: 0px 0px 100px 0px;
}

/* Deals section styles ends here */

/* Perfect place section styles starts here */

.perfect-place-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    margin-bottom: 100px;
}

.dark-description {
    color: #131318;
}

.perfect-place-video {
    position: relative;
}

.perfect-place-video video {
    border-radius: 16px;
}

.perfect-place-video-title {
    color: #FFF;
    position: absolute;
    top: 40%;
    left: 32%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    /* 150% */
}

/* Perfect place section styles ends here */

/* Newsletter section styles starts here */

.newsletter-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 100px;
}

.newsletter-form {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.newsletter-form-title {
    color: #131318;
    font-size: 24px;
    margin-bottom: 16px;
}

.newsletter-form-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 24px;
}

.newsletter-form-hr-line {
    margin-bottom: 24px;
}

.newsletter-form-input-box {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.newsletter-form-input-btn {
    outline: none;
    border: none;
    color: #1313184d;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: #1313180d;
    padding: 16px 20px;
}

.newsletter-form-subscribe-btn {
    outline: none;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 0px;
}

.newsletter-image{
    position: relative;
}

.save-up-card {
    border-radius: 16px;
    background: #FF5400;
    max-width: max-content;
    padding: 20px 40px;
    position: absolute;
    top: 62%;
    right: 1%;
    transform: rotate(-20deg);
}

.save-up-card-sub-title {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.save-up-card-title {
    color: #FFF;
    font-size: 32px;
}

/* Newsletter section styles ends here */

/* Main section styles ends here */

/* Footer section styles starts here */

/* Footer section styles ends here */

/* Media queries styles starts here to make responsive */

/* Media queries for mobile devices styles starts here */
@media screen and (max-width: 600px) {

    /* Header section responsive styles starts here */

    /* Navbar responsive styles starts here */

    .navbar {
        padding: 0px 20px;
        margin: 50px 0px 20px 0px;
    }

    .nav-logo {
        width: auto;
    }

    .nav-logo-title {
        font-size: 32px;
    }

    .nav-logo-title span {
        font-size: 32px;
    }

    .nav-items {
        width: auto;
    }

    .nav-items>ul {
        display: none;
    }

    .nav-items .navbar-bar {
        display: block;
        text-align: end;
    }

    /* Navbar responsive styles ends here */

    /* Header banner responsive styles starts here */

    .header-banner-container {
        padding: 30px 15px;
        background-size: cover;
        margin: 0px 20px;
    }

    .header-banner-title {
        font-size: 22px;
        padding: 0px 0px 10px 0px;
    }

    .header-banner-description {
        padding: 0px 0px 30px 0px;
    }

    .header-banner-form {
        flex-direction: column;
    }

    /* Header banner responsive styles ends here */

    /* Header section responsive styles ends here */

    /* Main section responsive styles starts here */

    /* Popular tour responsive styles starts here */

    .popular-tour-section {
        flex-direction: column;
        margin: 20px 0px;
    }

    .popular-tour-texts {
        margin: 0px 20px;
    }

    .popular-tour-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .popular-tour-description {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .popular-tour-image img {
        width: 100%;
    }

    .popular-tour-image {
        margin: 0px 20px 24px 20px;
    }

    /* Popular tour responsive styles ends here */

    /* Your destination section responsive styles starts here */

    .your-destination-title {
        font-size: 20px;
        margin: 0px 0px 16px 0px;
    }

    .your-destination-description {
        font-size: 16px;
        margin: 0px 0px 14px 0px;
    }

    .your-destination-images-row-1,
    .your-destination-images-row-2,
    .your-destination-images-row-3 {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        row-gap: 20px;
        margin: 20px 20px;
    }

    .destination-image-card-1-title {
        top: 20%;
        left: 35%;
    }

    .destination-image-card-2-title {
        top: 70%;
        left: 20%;
    }

    .destination-image-card-3-title {
        top: 14%;
        left: 35%;
    }

    .destination-image-card-4-title {
        top: 43%;
        left: 25%;
    }

    .destination-image-card-5-title {
        top: 80%;
        left: 10%;
    }

    .destination-image-card-6-title {
        top: 25%;
        left: 30%;
    }

    .destination-image-card-7-title {
        top: 80%;
        left: 25%;
    }

    /* Your destination section responsive styles ends here */

    /* Choose us section responsive styles starts here */

    .choose-us-section {
        margin: 0px 20px;
    }

    .choose-us-section-title {
        font-size: 20px;
        margin: 0px 0px 16px 0px;
    }

    .choose-us-section-description {
        font-size: 14px;
        margin: 0px 0px 16px 0px;
    }

    .choose-us-cards-row-1 {
        flex-direction: column;
    }

    .choose-us-cards-row-2 {
        width: 100%;
        margin-bottom: 24px;
    }

    /* Choose us section responsive styles ends here */

    /* Deals section responsive styles starts here */

    .deals-section {
        padding: 0px 20px;
    }

    .deals-section-header-title {
        font-size: 20px;
        margin: 0px 0px 16px 0px;

    }

    .deals-section-header-description {
        font-size: 14px;
        margin: 0px 0px 16px 0px;
    }

    .deal-card-container-1,
    .deal-card-container-2,
    .deal-card-container-3 {
        background-size: cover;
        padding: 20px;
        margin: 0px 0px 16px 0px;
    }

    .deal-card {
        width: 100%;
        padding: 20px;
        margin: 200px 0px 0px 0px;
    }

    .deal-card ul {
        flex-wrap: wrap;
    }

    .deal-card ul li,
    .deal-card-price {
        font-size: 16px;
    }

    .deal-card-title {
        font-size: 20px;
        padding: 16px 0px 8px 0px;
    }

    .deal-card-description {
        font-size: 14px;
        padding: 0px 0px 8px 0px;
    }

    .deal-card-btn {
        font-size: 18px
    }

    .deals-see-all-btn {
        margin: 0px 0px 20px 0px;
    }

    /* Deals section responsive styles ends here */

    /* Perfect place section responsive styles starts here */

    .perfect-place-section {
        flex-direction: column;
        margin-bottom: 24px;
    }

    .perfect-place-video {
        margin: 0px 20px;
    }

    .perfect-place-video video {
        width: 100%;
    }

    .perfect-place-video-title {
        left: 25%;
        font-size: 20px;
    }

    /* Perfect place section responsive styles ends here */

    /* Newsletter section responsive styles starts here */

    .newsletter-section{
        flex-direction: column;
        margin: 0px 20px 24px 20px;
    }

    .newsletter-image img{
        width: 100%;
    }

    .save-up-card{
        top: 58%;
        padding: 10px 20px;
    }

    .save-up-card-sub-title{
        font-size: 14px;
    }

    .save-up-card-title{
        font-size: 18px;
    }

    /* Newsletter section responsive styles ends here */

    /* Main section responsive styles ends here */

    /* Footer section responsive styles starts here */

    /* Footer section responsive styles ends here */
}

/* Media queries for mobile devices styles ends here */

/* Media queries styles ends here */