/* Google font styles import link starts here */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

/* Google font styles import link ends here */

/* Universal styles starts here to reset web browser's default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
    /* Font weight 800px */
}

/* Universal styles ends here */

/* Header section styles starts here */

header {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}

/* Navbar styles starts here */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px 50px 0px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 50%;
}

.nav-logo img {
    object-fit: cover;
}

.nav-logo img:hover {
    cursor: pointer;
}

.nav-logo-title {
    color: #131318;
    font-size: 36px;
}

/* Span used for styling the last part of the logo name */
.nav-logo-title span {
    color: #FF5400;
    font-size: 36px;
}

.nav-logo-title:hover {
    cursor: pointer;
}

.nav-items {
    width: 50%;
}

.nav-items ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-items ul li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* Style for Home item */
.nav-items>ul>li :nth-child(1 of #item-1) {
    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.nav-items .navbar-bar {
    display: none;
}

/* Navbar styles ends here */

/* Header banner styles starts here */

.header-banner-container {
    border-radius: 16px;
    background-image: url('../Styles/Images/Group\ 13\ \(1\)\ \(1\).png'), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-blend-mode: multiply;
    padding: 100px 15px;
    object-fit: cover;
}

.header-banner-title {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    padding: 0px 0px 24px 0px;
}

.header-banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 0px 50px 0px;
}

.header-banner-form {
    display: flex;
    padding: 16px;
    align-items: center;
    max-width: max-content;
    margin: 0px auto;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

#where-go-box {
    border-radius: 8px;
    background: #FFF;
    padding: 16px 30px 16px 10px;
    outline: none;
    border: none;
    color: #424247;
    width: 150px;
}

.primary-btn {
    color: #FFF;
    background-color: #FF5400;
    outline: none;
    border: none;
    width: 150px;
    padding: 16px 30px 16px 10px;
    border-radius: 8px;
}

/* Header banner styles ends here */

/* Header section styles ends here */

/* Main section styles starts here */

main {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}

/* Popular tour section styles starts here */

.popular-tour-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 100px 0px;
}

.popular-tour-title {
    color: #131318;
    font-size: 40px;
    margin-bottom: 24px;
}

.popular-tour-description,
.popular-tour-list-items {
    color: #131318b3;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 8px;
}

.popular-tour-list-box {
    margin-left: 30px;
}

.popular-tour-btn {
    font-size: 16px;
    text-align: center;
    padding: 16px 10px 16px 10px;
}

/* Popular tour section styles ends here */

/* Main section styles ends here */

/* Footer section styles starts here */

/* Footer section styles ends here */

/* Media queries styles starts here to make responsive */

/* Media queries for mobile devices styles starts here */
@media screen and (max-width: 600px) {

    /* Header section responsive styles starts here */

    /* Navbar responsive styles starts here */

    .navbar {
        padding: 0px 20px;
        margin: 50px 0px 20px 0px;
    }

    .nav-logo {
        width: auto;
    }

    .nav-logo-title {
        font-size: 32px;
    }

    .nav-logo-title span {
        font-size: 32px;
    }

    .nav-items {
        width: auto;
    }

    .nav-items>ul {
        display: none;
    }

    .nav-items .navbar-bar {
        display: block;
        text-align: end;
    }

    /* Navbar responsive styles ends here */

    /* Header banner responsive styles starts here */

    .header-banner-container {
        padding: 30px 15px;
        background-size: cover;
        margin: 0px 20px;
    }

    .header-banner-title {
        font-size: 22px;
        padding: 0px 0px 10px 0px;
    }

    .header-banner-description{
        padding: 0px 0px 30px 0px;
    }

    .header-banner-form {
        flex-direction: column;
    }

    /* Header banner responsive styles ends here */

    /* Header section responsive styles ends here */

    /* Main section responsive styles starts here */

    /* Popular tour responsive styles starts here */

    .popular-tour-section{
        flex-direction: column;
        margin: 20px 0px;
    }

    .popular-tour-texts{
        margin: 0px 20px;
    }

    .popular-tour-title{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .popular-tour-description{
        font-size: 14px;
        margin-bottom: 10px;
    }

    .popular-tour-image{
        margin: 0px 0px 24px 0px;
    }

    /* Popular tour responsive styles ends here */

    

    /* Main section responsive styles ends here */

    /* Footer section responsive styles starts here */

    /* Footer section responsive styles ends here */
}

/* Media queries for mobile devices styles ends here */

/* Media queries styles ends here */